{% load i18n %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'libs/boostrap/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'libs/boostrap/css/bootstrap-theme.min.css' %}"/>
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

    {% block script %}{% endblock %}
    <script src="{% static 'libs/jquery/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'libs/boostrap/js/bootstrap.min.js' %}"></script>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>